body {
    font-family: 'Ribeye', cursive;
    width: 100%;
    background-image: url("../../images/fast-food.jpg");
    background-repeat: no-repeat;
    
}

h1 {
    margin: auto 0;
    margin-left: 20%;
    margin-bottom: 3%;
    margin-top: 2%;
}

#avail {
    float: right;
    margin-right: 6%;
    margin-left: 10%;


}

#devoured {
    float: right;

}

li {
    font-size: 20px;
    list-style-type: none;
}


#add {
    clear: both;
    float: right;
    margin-left: 25%;
}